.container{
  width: 100vw;
  height: 100vh;
  background: url('./../../assets/loginbgc.jpeg') center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.loginContainer{
  width: 80%;
  height: 50%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logininputcontainer{
  background-color: rgba(250, 250, 250, .4);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 2%;
}
.logininputcontainerborder{
  border: 4px solid rgba(170, 0, 85, .9);
}
.logininput{
  font: {
    size: 0.975rem;
    height: 1.75;
    family: " Roboto", "Helvetica", "Arial", sans-serif;
    weight: 500;  
  }
  padding: 15px 16px;
  width: 100%;
  background-color: rgba(250, 250, 250, 0) !important;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  color: white  !important;
  border: none;
}

.logininput::placeholder{
 color: white;
 padding-left: 5%;
}
.icon{
  color:white;
  margin-left: 10%;
}
.registration{
  margin-top: 5vh;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.registration a{
  color: #adadad;
  text-decoration: none;
}
