.container{
    width: 100vw;
    height: 100vh;
    background: url('./../../assets/loginbgc.jpeg') center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginContainer{
    width: 80%;
    height: 50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logininputcontainer{
background-color: rgba(250, 250, 250, .4);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  border-radius: 4px;
  margin-bottom: 2%;
}
.logininput{
  padding: 15px 16px;
  font-size: 0.975rem;
  width: 100%;
  background-color: rgba(250, 250, 250, 0);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  color: white;
  border: none;
}
.logininput::placeholder{
 color: white;
 padding-left: 5%;
}
.icon{
color:white;
margin-left: 10%;
}
.registration{
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.registration a{
color: #adadad;
text-decoration: none;
}
